/* line 1, /Users/floridakid411/Desktop/TWS/app/assets/stylesheets/cityindex/city_index.scss */
.city-image {
  background-repeat: no-repeat;
}

/* line 6, /Users/floridakid411/Desktop/TWS/app/assets/stylesheets/cityindex/city_index.scss */
.city {
  width: 41%;
  height: 160px;
  margin: 10px;
  transition: ease-in-out all .5s;
}

.find-you{
  font-weight: 600;
  font-size: 2.5em;
  color: #5C5C5C;
}

.city-header{
  text-align: center;
  margin-top: 51px;
  margin-bottom: 39px;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
  line-height: 1.25;
}

/* line 17, /Users/floridakid411/Desktop/TWS/app/assets/stylesheets/cityindex/city_index.scss */
.city-image {
  /* width: 100%; */
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.city:hover{
  color: transparent;
  transition: ease-in-out all .5s;
}

.black{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  transition: ease-in-out all .3s;

}

.black:hover{
  background-color: transparent;
}

/* line 24, /Users/floridakid411/Desktop/TWS/app/assets/stylesheets/cityindex/city_index.scss */
// .city-image:hover {
//   background-color: transparent;
// }

/* line 29, /Users/floridakid411/Desktop/TWS/app/assets/stylesheets/cityindex/city_index.scss */
.city-name {
  color: white;
  font-weight: 600;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out all 1s;

}

.city-name:hover{
  opacity: 0.0;
  transition: ease-in-out all 1s;
}

/* line 46, /Users/floridakid411/Desktop/TWS/app/assets/stylesheets/cityindex/city_index.scss */
.city-index::after {
  clear: both;
  content: "";
  display: table;
}

.city-index{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
