.login-form-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    width: 45%;
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue";
    text-align: center;
    font-size: 23px;
    color: #5C5C5C;
    margin-top: 2%;
    margin-bottom: 7%;
}

.signup-header{
    margin: 10px;
}

.commit:hover{
    background-color: #1a81d4;
}

.signup-text{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.error-messages{
  list-style: none;
  color: red;
}

.placeholder{
  color: red;
}

#sel1{
  height: 100px;
  width: 200px;
  position: relative;
  left: 20%;
  font-size: larger;
  bottom: 10px;
  margin-top: 15px;
}

form input {
  display: block;
  width: 100%;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #DDD;
  padding-bottom: 15px;
  padding-top: 10px;
  max-width: 100%;
  margin-bottom: 10px;
}

.commit {
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 15px;
  letter-spacing: 2px;
  background-color: #03a9f4;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5px;
  border: none;
  max-width: 400px;
}


#guest-login{
  padding: 15px;
  width: 100%;
  border: white;
  background-color: orange;
}

#guest-login:hover{
  background-color: darkorange;
}

.login-input{
  font-size: 20px;
  margin-left: 0px;
  padding-left: 2%;
  width: 97%;
}
