/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

//= require_tree .
 */

.logo-image{
  width: 80%;
}

.logo-image:hover{
  cursor: pointer;
}

.cf:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
 }


.footer-stuff{
  background-color: darkblue;
  color: white;

  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue";
  line-height: 1.625;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

input {
    max-width: 100%;
    padding: 0px;
}


body {
  margin: 0px;
  background-color: #faf6e8;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue";
  line-height: 1.625;
  -webkit-font-smoothing: antialiased;
}

.footer-stuff p {
  padding-left: 0px;
  margin: auto;
  padding: 0px 20px 30px 40px;
}

.header-stuff{
  background-color: darkblue;
  color: white;
  /* position: absolute; */
  /* top: 0px; */
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue";
  line-height: 1.625;
  -webkit-font-smoothing: antialiased;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  align-items: center;
  justify-content: space-between;
}

#signup-link:hover{
    background-color: darkblue;
    color: white;
    border: 2px white solid;
}

#signup-link{
    background-color: white;
    color: darkblue;
    border: 2px solid white;
    border-radius: 4px;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 15px;
}

.header-stuff li{

  list-style: none;
  display: inline-block;
  font-size: 0.8em;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding: 0.75em;
  display: inline-block;
  margin-bottom: 1px;
  line-height: 39px;
}


.link{
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  margin-right: 20px;
  font-size: 15px;
  position: relative;
}

/*.link:hover{
  border-bottom: 3px solid white;
    width: 100px;
}*/

.link:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  -webkit-transition: width .5s ease, background-color .5s ease;
  -moz-transition: width .5s ease, background-color .5s ease;

  /* position the content to the right bottom corner of the parent element to make it slide from right to left on hover */
  position:absolute;
  left:0;
  bottom:0;
}


.link:hover:after {
  width: 100%;
  background: white;
}

.city-container{
  margin-bottom: 10%;
}


.header-stuff ul{
  display: inline-block;

}


.header{
  width: 100%;
}

.logo{
  display: inline-block;
}

.navlinks{
  margin-left: auto;
}
