.one-city{
  display: flex;
  align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.massive-block{
  width: 599px;
  height: 500px;
}

.x{
  background-color: #03a9f4;
  border-radius: 6px;
  color: white;
  border: none;
  position: relative;
  left: 95%;
}

.x:hover{
  cursor: pointer;
}
.one-city-image{
  height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.625;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.one-city-name{
  margin: 10px;
  font-size: 39px;
}

.one-city-image p{
  margin: 7px;
}

.one-city-color{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 123, 255, 0.66);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
}

.host-event-container{
  width: 65%;
  margin: 20px 0px 6px 0px;
  max-width: 400px;
}
