.lunches-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}

.lunches-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
}
.dashboard-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.welcome {
    display: flex;
}

.quotes {
  font-family: Papyrus, fantasy;
  padding-right: 40px;
  padding-left: 40px;
  margin: 17px 26px 0px 30px;
  text-align: center;
  font-size: 17px;
}


.dashboard-lunch-index{
    margin-top: 37px;
    margin-bottom: 90px;
    padding-bottom: 30px;
    width: 100%;
}

.control-panel{
    margin: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cool-people{
    text-align: center;
    font-weight: 300;
}
