#lunch-where, #lunch-details{
  font-size: 14px;
}

.create-lunch-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.select-time{
    width: 125px;
    margin: 11px 0px;
    font-size: 26px;
}
