.lunch-item-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #FEFEFE;
  border: 1px solid #DDD;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 1.625;
  border-color: lightblue;
  margin: 20px;
}

.lunch-index{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
}

#lunch-item-place{
  color: black;
}

.lunch-item-box{
  text-transform: uppercase;
  text-align: center;
  float: left;
  min-height: 256px;
}

.lunch-item-place{
  color: #929292;
  font-size: 0.8em;
  text-align: left;
  padding: 7px 18px;
  text-transform: none;
  display: inline;
}

.lunch-item-time{
  color: gray;
}

.lunch-item-date-time{
  font-weight: 600;
  font-size: 13px;
  margin-right: 6%;
  height: 100%;
  margin-top: 10%;
  position: relative;
}

.lunch-item-day{
  color: #929292;
  font-weight: 600;
  font-size: 11px;
}

.lunch-item-date{
  font-size: 21px;
}

.profile-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97px;
  height: 100%;
  padding: 2px;
  border: 2px solid #2196F3;
  border-radius: 5px;
  position: relative;
  left: 0%;
  background: white;
  margin-top: -9%;
  margin-right: -21%;

}

.lunch-index-item {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 10px 20px 10px;
    transition: all .5s;
    width: 280px;
}



.lunch-item-top {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.lunch-item-join-button{
  display: flex;
  justify-content: center;
}

#join-lunch-button{
  width: 70%;
  height: 52px;
}

#joined-lunch-button{
  width: 70%;
  height: 52px;
  background-color: #05bd48;
}

#joined-lunch-button:hover{
  background-color: darkgreen;
}

#hosting-lunch-button{
  width: 70%;
  height: 52px;
  background-color: orange;
}

#hosting-lunch-button:hover{
  cursor: auto;
}

#join-lunch-button:hover {
    background-color: darkblue;
}



#host-own-lunch-button{
  width: 100%;
  height: 50px;
}
#host-own-lunch-button:hover{
  background-color: darkblue;
}

.what-is-lt-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FAF6E8;
}

.what-is-lt-wrapper{
  width: 100%;
  height: 192px;
}

.lt-part {
    width: 21%;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #faf6e8;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 10px 25px 10px;
}

h1.lt-basics, h2.lt-basics {
  text-align: center;
  color: #0171ca;
  margin: 1px;
  padding: 3px;
}

p.lt-basics-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: auto;
    padding-left: 7px;
    padding-right: 7px;
}

.host-box{
  text-transform: none;
  font-size: 12px;
  width: 100%;
}

#dylan{
  border: 12px dashed yellow;
  padding: 14px 7px 0px 3px;
}
