.lunch-item-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #FEFEFE;
  border: 1px solid #DDD;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 1.625;
  border-color: lightblue;
  margin: 20px;
}

.lunch-index{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
}

.lunch-item-box{
  text-transform: uppercase;
  text-align: center;
  float: left;
}

.lunch-item-place{
  color: #929292;
  font-size: 0.8em;
  text-align: left;
  padding: 18px;
  text-transform: none;
}

.lunch-item-time{
  color: gray;
}

.lunch-item-date-time{
  font-weight: 600;
}

.lunch-item-day{
  color: #929292;
  font-weight: 600;
  font-size: 0.9em;
}

.lunch-item-date{
  font-size: 1.25em;
}

.lunch-index-item {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
    min-width: 220px;
    max-width: 250px;
}

.lunch-item-join-button{
  display: flex;
  justify-content: center;
}

#join-lunch-button{
  width: 70%;
  height: 52px;
}

#joined-lunch-button{
  width: 70%;
  height: 52px;
  background-color: #05bd48;
}

#joined-lunch-button:hover{
  background-color: darkgreen;
}

#hosting-lunch-button{
  width: 70%;
  height: 52px;
  background-color: orange;
}

#hosting-lunch-button:hover{
  cursor: auto;
}

#join-lunch-button:hover {
    background-color: #1a81d4;
}



#host-own-lunch-button{
  width: 100%;
  height: 50px;
}
#host-own-lunch-button:hover{
  background-color: #1a81d4;
}

.what-is-lt-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #dcd8cc;
}

.what-is-lt-wrapper{
  width: 100%;
}

.lt-part {
    width: 28%;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #faf6e8;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 10px 10px 25px 10px;
    max-width: 220px;
}

h1.lt-basics, h2.lt-basics {
  text-align: center;
  color: #0171ca;
  margin: 1px;
  padding: 3px;
}

p.lt-basics-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: auto;
    padding-left: 7px;
    padding-right: 7px;
}
